<footer>
  <section class="contact">
    {% t footer.contact %} <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>
  </section>
  <section class="social">

    <a target="_blank" href="{{ metadata.social.facebook }}">
      <i class="fab fa-facebook fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.instagram }}">
      <i class="fab fa-instagram fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.twitter }}">
      <i class="fab fa-twitter fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.github }}">
      <i class="fab fa-github fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.youtube }}">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
  </section>
  <section>
    <span class="disclaimer">Copyright © {{ "now" | date: "%Y" }} Comunidad Ruby MX - {% t footer.copyright %}</span>
  </section>
  <section>
    <span class="privacy">
      <a href="{% t urls.privacy %}">{% t navbar.privacy %}</a>
    </span>
  </section>
</footer>
