<footer>
  <section class="contact">
    {% t footer.contact %} <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>
  </section>
  <section class="social">

    <a target="_blank" href="{{ metadata.social.facebook }}">
      <i class="fab fa-facebook fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.instagram }}">
      <i class="fab fa-instagram fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.twitter }}">
      <i class="fab fa-twitter fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.github }}">
      <i class="fab fa-github fa-2x"></i>
    </a>

    <a target="_blank" href="{{ metadata.social.youtube }}">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
  </section>
  <section>
    <p class="disclaimer">Copyright © 2022 Comunidad Ruby MX - {% t footer.copyright %}</p>
  </section>
</footer>
